<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><%= link_to 'Profile', @profile %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit profile</li>
  </ol>
</nav>
<div class="bg-container">
  <div class="d-flex flex-column py-5 m-auto">
    <div class="col-md-8 mx-auto py-3">
      <h1><%= title 'Edit Profile', 'Edit profile' %></h1>
    </div>
    <div class="col-md-8 mx-auto py-3">
      <%= render 'form', profile: @profile %>
    </div>
  </div>
</div>
