<div class="container">
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><%= link_to 'Home', root_path %></li>
      <li class="breadcrumb-item active" aria-current="page">Create profile</li>
    </ol>
  </nav>
  <div class="row justify-content-center mx-auto bg-form pt-5">
    <div class="col-md-6">
      <h2><%= title 'Create Profile', 'Create profile' %></h2>
    </div>
  </div>
  <%= render 'form', profile: @profile %>
</div>
