@import "bootstrap";
@import "font-awesome";

.bg-form {
  background-color: #d3d3d3;
}

.form-control,
.input-group-addon,
.cover-art {
  border: 1px solid #333;
}

.cover-art {
  border-right: none;
}

.btn-outline-dark {
  background-color: #fdfdfd;
}

.breadcrumb {
  background-color: #fff;
}
