@import "bootstrap";

.bg-form {
  background-color: #d3d3d3;
}

.form-control,
.input-group-addon {
  border: 1px solid #333;
}

.btn-outline-dark {
  background-color: #fdfdfd;
}

.breadcrumb {
  background-color: #fff;
}
