@import "bootstrap";
@import "font-awesome";

body {
  font-size: 18px;
}

.flex-column {
  max-width: 80%;
}

a {
  color: #333;
}

a:hover {
  text-decoration: underline;
  background: #333;
  color : #f2f2f2;
}

.bg-container {
  background-color: #f2f2f2;
}

.form-control,
.input-group-addon,
.cover-art {
  border: 1px solid #333;
}

.form-control:focus {
  border: 2px solid #333;
  outline: none;
  box-shadow: none;
}

.cover-art {
  border-right: none;
}

.cover-image {
  max-width: 100%;
  height: auto;
}

.btn {
  font-size: 18px;
}

.btn-outline-dark {
  background-color: #fdfdfd;
}

.breadcrumb {
  background-color: #fff;
}

.stripe-button-el {
  width: 100%;
}

footer {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 20vh;
  height: auto;
  margin-top: 3em;
  margin-bottom: 0;
  padding-top: 0.5em;
  background-color: #333;
  color: #fff;
}

footer h2 {
  margin: 1em;
  padding-left: 2em;
}

ul {
  list-style: none; 
}

.footer-links {
  padding-left: 3.2em;
  margin: 2em;
}

.footer-links a {
  color: #f2f2f2;
}