<div class="row justify-content-center mx-auto py-3">
  <div class="col-md-6">
    <%= form_with url: products_path, local: true, skip_enforcing_utf8: true, method: :get do  |form| %>
    <div class="form-group">
      <div class="input-group">
        <%= form.text_field :query, class: 'form-control', autofocus: true, required: true %>
        <span class="input-group-btn">
          <%= form.button name: nil, class: 'btn btn-outline-dark' do %>
            <%= fa_icon 'search' %>
          <% end %>
        </span>
      </div>
    </div>
    <% end %>
  </div>
</div>
