<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><%= link_to 'Products', products_path %></li>
    <li class="breadcrumb-item active" aria-current="page">New Product</li>
  </ol>
</nav>

<div class="bg-container">
  <div class="d-flex flex-column py-5 m-auto">
    <div class="col-md-8 mx-auto py-3">
      <h2><%= title 'New Product', 'New product' %></h2>
    </div>
    <div class="col-md-8 mx-auto py-3">
      <%= render 'form', product: @product %>
    </div>
  </div>
</div>
