<footer class="footer">
  <h2>Long Play Records</h2>
  <ul class="footer-links">
    <li><%= link_to 'Records for sale', products_path %></li>
    <li><%= link_to 'Sell records', new_product_path %></li>
    <li><%= link_to 'About', root_path %></li>
  </ul>
</footer>
